/*#vpc-ajax-loader-container.vpc-ajax-loader { display: none !important; }
#vpc-ajax-container {
    padding: 50px;
    margin-left: -6px;
    margin-right: -6px;
}
#vpc-ajax-container:after {
    content: "";
    display: table;
    clear: both;
}*/
.vpc-ajax-loader img {display: none;}
.rsm-vpc-info { display: none; }

/* #vpc-header */
#vpc-header {
    margin-top: 20px;
}
#vpc-header:after {
    content: "";
    clear: both;
    display: table;
}
#vpc-header header {
    margin-bottom: 0em!important;
    padding-left: 30px;
    float: left;
}
#vpc-header header h1 {
    font-family: 'Lato',sans-serif;
    color: #b2b3b7;
    text-transform: uppercase;
    font-size: 53px;
    font-weight: 300;
}

#vpc-header .vpc-logo {
    float: right;
    display: block;
    height: 50px;
    padding-top: 5px;
}

/* #vpc-container */
#vpc-container {
    margin-left: -6px;
    margin-right: -6px;
    display: flex;
}
#vpc-container:after {
    content: "";
    display: table;
    clear: both;
}

#vpc-container .conf_desc {
    display: none;
}

#vpc-components {
    position: relative;
    width: 36%;
    z-index: 2;
}

#vpc-preview-wrap {
    position: relative;
    width: 64%;
    top: 0px !important;
}

/* #vpc-container > #vpc-components */
#vpc-components:before, .vpc-component:after{
    content: "";
    width: 10px;
    height: 100%;
    display: block;
    position: absolute;
    /*box-shadow: inset 9px 0px 15px -10px rgba(0,0,0,0.5), 9px 0px 10px -10px rgba(0,0,0,0.5) !important;
    border-left: 1px solid #ccc !important;*/
    /* box-shadow: inset 11px 0px 18px -14px grey, 9px 0px 18px -12px grey;
    border-left: 1px solid #a8a9ad!important; */
	border-right: 1px solid rgba(0,0,0,0.2) !important;
}

#vpc-components:before {
    left: 20px;
}

.vpc-component:after {
    right: -10px;
    top: 0px;
}

#vpc-components .vpc-component {
    position: relative;
    display: flex;
    min-height: 150px;
    width: 50%;
    border-width: 0px!important;
}

.vpc-component .vpc-tab-header {
    display: block;
	width: 20px;

}

.vpc-component .vpc-tab-header.label-active {
    background: #f1f1f1;

}

.vpc-component .vpc-tab-header h6{
    color: #6e6f71;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(-90deg);
    width: 140px;
    height: 100%;
    font-size: 12px;
    text-align: center;
}

.vpc-component .vpc-component-header {
    display: none!important;
}

.vpc-component .vpc-options {
    /* margin-top: 0px!important; */
    background: transparent!important;
}

.vpc-options .vpc-group {
    border-top: 0px solid red!important;
    padding: 15px;
}

.vpc-group[style="display: none;"] {
    display: none!important;
}

.vpc-options .vpc-group-name {
    display: none!important;
}

.vpc-options label.custom {
    opacity: 0.4;
    overflow: hidden;
    margin: 5px;
    /*border: 1px solid #6e6f71;*/
    border:  none;
}
.rsm-initial .vpc-options label.custom {
    opacity: 1;
}

.vpc-options label.custom:before {
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
}

.vpc-options input:checked + label.custom {
    /*border: 1px solid #666;*/
    opacity: 1;
}
/* remove check box from selected pattern */
.vpc-options input:checked + label.custom:before {
    content: "" !important;
}

.vpc-component.Base,
.vpc-component.Color,
.vpc-component.Shade
 {
    position: relative;
    /* height: 100%; */
    min-height: 175px;
}

.vpc-component.Base div.vpc-options,
.vpc-component.Color div.vpc-options,
.vpc-component.Shade div.vpc-options
{
    margin: auto 5px auto 15px;
}

.vpc-component.Base div.vpc-options .vpc-group,
.vpc-component.Color div.vpc-options .vpc-group,
.vpc-component.Shade div.vpc-options .vpc-group
{
    display: table-cell;
    vertical-align:middle;
}

/* #vpc-container > #vpc-components > .Base */

    #vpc-components .vpc-component.Base .vpc-options label.custom {
        width: 75px;
        height: 75px;
    }
    #vpc-components .vpc-component.Shade .vpc-options label.custom {
        width: 55px;
        height: 55px;
    }
    #vpc-components .vpc-component.Base .vpc-options label.custom:before {
        background-size: 160% 160%;
        background-position: center -50px;
    }
    #vpc-components .vpc-component.Shade .vpc-options label.custom:before {
        background-size: 160% 160%;
        background-position: center 0;
    }
    #vpc-components .vpc-component.Color .vpc-options label.custom {
        width: 33px;
        height: 33px;
    }

/* #vpc-container > #vpc-components > .Pattern */
    #vpc-components .vpc-component.BaseTab,
    #vpc-components .vpc-component.Pattern,
    #vpc-components .vpc-component.ShadeSub {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: none;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options,
    #vpc-components .vpc-component.Pattern .vpc-options,
    #vpc-components .vpc-component.ShadeSub .vpc-options {
        margin-bottom: 50px;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options:before,
    #vpc-components .vpc-component.Pattern .vpc-options:before,
    #vpc-components .vpc-component.ShadeSub .vpc-options:before {
        position: absolute;
        bottom: -50px;
        width: 100%;
        content: attr(data-content);
        font-size: 12px;
        text-align: center;
        padding: 0 20px;
    }
    /* #vpc-components .vpc-component.BaseTab {
        display: block;
    } */

    .vpc-component.BaseTab .vpc-group,
    .vpc-component.Pattern .vpc-group,
    .vpc-component.ShadeSub .vpc-group {
        height: 450px;
        overflow: hidden;
        display: block;
    }

    .BaseTab.vpc-tab-header,
    .Pattern .vpc-tab-header,
    .ShadeSub .vpc-tab-header
    {
        display: none;
    }

    #vpc-components .vpc-component.BaseTab .vpc-single-option-wrap,
    #vpc-components .vpc-component.Pattern .vpc-single-option-wrap,
    #vpc-components .vpc-component.ShadeSub .vpc-single-option-wrap {
        width: 100%;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options label.custom,
    #vpc-components .vpc-component.Pattern .vpc-options label.custom,
    #vpc-components .vpc-component.ShadeSub .vpc-options label.custom
    {
        width: 160px;
        height: 80px;
        margin: 10px 5px;
        overflow: hidden;
        border: 0px!important;
        -webkit-transition: height 0.5s ease-in-out;
        -moz-transition: height 0.5s ease-in-out;
        -o-transition: height 0.5s ease-in-out;
        transition: height 0.5s ease-in-out;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options input[type="radio"]:checked+label.custom,
    #vpc-components .vpc-component.Pattern .vpc-options input[type="radio"]:checked+label.custom {
        height: 160px;
    }
    #vpc-components .vpc-component.ShadeSub .vpc-options input[type="radio"]:checked+label.custom {
        height: 140px;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options label.custom:before,
    #vpc-components .vpc-component.Pattern .vpc-options label.custom:before,
    #vpc-components .vpc-component.ShadeSub .vpc-options label.custom:before
    {
        -webkit-transition: transform 0.5s ease-in-out;
        -moz-transition: transform 0.5s ease-in-out;
        -o-transition: transform 0.5s ease-in-out;
        transition: transform 0.5s ease-in-out;
    }


    #vpc-components .vpc-component.BaseTab .vpc-options label.custom:before {
        transform-origin: center 136px;
        width: 140px!important;
        height: 140px!important;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    #vpc-components .vpc-component.Pattern .vpc-options label.custom:before {
        transform-origin: center 0px;
        width: 80px!important;
        height: 80px!important;
    }
    #vpc-components .vpc-component.ShadeSub .vpc-options label.custom:before {
        transform-origin: center 0px;
        width: 120px !important;
        height: 120px !important;
    }

    #vpc-components .vpc-component.BaseTab .vpc-options input[type="radio"]:checked+label.custom:before,
    #vpc-components .vpc-component.Pattern .vpc-options input[type="radio"]:checked+label.custom:before,
    #vpc-components .vpc-component.ShadeSub .vpc-options input[type="radio"]:checked+label.custom:before
    {
        -webkit-transform: scale(2.0);
        transform: scale(2.0);
    }

/* vpc-preview-wrap */

#vpc-price-container {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    font-size: 10px;
    color: #6e6f71;
    font-weight: normal;
}

.vpc-action-buttons {
    display: none;
}

#vpc-preview {
    max-height: 455px;
    overflow: hidden;
    border: 0px solid red!important;
    width: 60%;
    z-index: 99!important;
    margin-left: 20px;
    height: 100%;
}

#vpc-preview:before, #vpc-preview:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .15;
    z-index: -1;
    background-size: contain;
    background-repeat: no-repeat;
}

#vpc-preview:before {
    background-image: url('../bg.png');
}

#vpc-preview:after {
    background-image: url('../bg2.png');
}

#vpc-preview.filled-base:before {
    display: none;
}
#vpc-preview.filled-shade:after {
    display: none;
}

#vpc-preview img {
    max-width: 455px!important;
    width: 100%;
}

#vpc-preview.active:before, #vpc-preview.active:after {
    display: none;
}

#vpc-preview.active img {
    -webkit-transform: scale(2.0);
    transform: scale(2.0);
    /* padding-top: 17%; */
}

/* remove boder from preview pane*/
.saved-config-preview {
    border: 0px solid red!important;
}

.info-row{
    display:flex;
    font-size: 11px;
}
.info-row > div {
    padding-bottom: 5px !important;
}
.info-label {
    border-right:1px solid #6e6f71;
    padding-right: 5px;
    flex-basis: 70px;
    flex-grow: 0;
    flex-shrink: 0;
    padding-top: 3px !important;
}
.info-data {
    text-align: left;
    margin-left: 10px;
    font-weight: 700;
}

.info-data a {
    line-height: 24px;
}

.info-row .info-desc {
    max-height: 0px;
    opacity: 0;
    transition: all 1s;
}

.info-row.active .info-desc {
    display: block;
    opacity: 1;
    max-height: 500px;
}
.info-data .info-name {
    position: relative;
}
.info-data .info-name:after {
    content: " ";
    background: url('../arrow-right.svg') 0 0 no-repeat;
    font-size: 10px;
    padding-left: 5px;
    position: absolute;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    top: 4px;
    transition: transform 0.2s;
    transform-origin: 5px 8px;
    opacity: 0.9;
}

.info-row.active .info-data .info-name:after {
    content: " ";
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

.vpc-action-block {
    text-align: left;
    padding-left: 60px;
    margin-top: 16px;
    font-size: 16px;
}

.vpc-action-row {
    display: flex;
    margin-top: 5px
}
.vpc-action-row button{
    background: none !important;
    border: none;
    padding: 0;
    color: #6e6f71;
    font-size: 16px;
}

/* .vpc-action-buttons */
.vpc-action-buttons {
    margin-top: 50px;
    padding-left: 30px;
}
body.fl-theme-builder-footer #vpc-qty-container input[type=button], body.fl-theme-builder-footer .vpc-action-buttons button {
    background: #b2b3b7!important;
}
body.fl-theme-builder-footer #vpc-qty-container input[type="button"] {
    background: #b2b3b7!important;
}
.sleeping { pointer-events: none; }
@media (min-width: 768px) {
    .modal-content {
        margin-top: 200px;
    }
}

.modal-header .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}


.rsm-flex-wrapper {
    display: flex;
}
.rsm-flex-half {
    flex-grow: 1;
    flex-basis: 0;
    max-width: 50%;
}
.woocommerce-cart-form {
    border-top: 1px solid #000;
}
.woocommerce-cart-form__cart-item {
    padding: 50px 0 30px;
}
.woocommerce-cart-form__cart-item + .woocommerce-cart-form__cart-item {
    border-top: 1px solid #333;
}
.woocommerce-cart-form__cart-item .vpc-cart-config-image {
    border: 1px solid #ccc;
}
.woocommerce-cart-form__cart-item a.remove {
    width:auto !important;
    border: none !important;
}
.woocommerce-cart-form__cart-item .product-action-wrapper {
    max-width: 450px;
    margin: 0 auto;
    display: flex;
}
.woocommerce-cart-form__cart-item a.edit-lamp {
    display: block;
    margin-left: auto;
}
.woocommerce-cart-form__cart-item a.remove, .woocommerce-cart-form__cart-item a.edit-lamp {
    font-size: 12px;
    color: #ccc;
    text-decoration: none;
    line-height: 20px;
    text-align: left;
}
.woocommerce-cart-form__cart-item .product-thumbnail {
    flex-grow: 2;
    flex-basis: 0;
}
.woocommerce-cart-form__cart-item .product-name {
    padding-left: 25px;
    padding-right: 50px;
    flex-grow: 1;
    flex-basis: 0;
}
.woocommerce-cart-form__cart-item .product-name .rsm-flex-wrapper {
    margin-bottom: 10px;
}
.woocommerce-cart-form__cart-item .product-name .base-image, .woocommerce-cart-form__cart-item .product-name .shade-image {
    padding-right: 15px;
}
.woocommerce-cart-form__cart-item .product-name .cover-image, .woocommerce-cart-form__cart-item .product-name .accessory-image {
    padding-left: 15px;
}
.woocommerce-cart-form__cart-item .product-name .attribute-thumbnail{
    border: 1px solid #ccc;
}
.woocommerce-cart-form__cart-item .product-name .attribute-price{
    float: right;
}
.woocommerce-cart-form__cart-item .label-quantity{
    margin-right: 15px;
}
.woocommerce-cart-form__cart-item .product-subtotal {
    margin-left: auto;
}
.woocommerce-cart-form__cart-item .product-quantity:after {
    content: ' ';
    clear: both;
    display: block;
}
.woocommerce-cart-form__cart-item .quantity {
    float: right;
    margin: 10px 0;
}
.woocommerce-cart-form__cart-item .product-total {
    display: flex;
}
.woocommerce-cart-form__cart-item .product-total label {
    font-weight: bold;
}
.woocommerce-cart-form__cart-item .product-name .attribute-thumbnail {
    padding-top: 100%;
    position: relative;
}
.woocommerce-cart-form__cart-item .product-name .attribute-thumbnail img {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.coupon_wrapper {
    display: flex;
}
.coupon_wrapper .coupon {
    width: 20%;
}
.coupon_wrapper .coupon #coupon_code {
    width: 100%;
}
.coupon_wrapper .coupon_action {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-left: 10px;
    padding: 0 10px;
    border-top: 1px solid #555;
    border-bottom: 1px solid #555;
}
.coupon_wrapper .coupon_action button {
    text-transform: uppercase;
    background: none !important;
    color: #ccc !important;
    font-size: 16px;
    padding: 0 !important;
}

.woocommerce .continue-shopping-block:after {
    content: '';
    display: table;
    clear: both;
}
.woocommerce .continue-shopping-block .continue-shopping-link {
    display: block;
    float: right;
    width: 48%;
    padding: 20px 0px 20px 12px;
}

.woocommerce .cart_totals {
    border: 1px solid #000;
    padding: 5px;
}
.cart-collaterals h2 {
    font-size: 16px;
}

.login-signup-block {
    text-align: right;
    text-transform: uppercase;
}
.login-signup-block div {
    padding: 5px 0;
}
